/* ----- WELCOME SCREEN ----- */
.welcome-screen {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 55px;
}

.welcome-header {
  padding: 58px 0 25px;
}

.welcome-carousel {
  align-self: stretch;
  overflow: visible !important; /* The only way I could get the overflow to show-(tried adding inline as well) */
}

.welcome-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.welcome-img {
  width: 100%;
}

.slide-text {
  width: 85%;
  max-width: 320px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-text h1 {
  margin: 30px 0 11px;
}

.slide-text p {
  margin: 0;
}

.create-acct-wrapper {
  width: 85%;
}
